* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.nav-container {
    position: fixed;
    width: 100%;
    top: 0;
    display: flex;
    justify-content: center;
    padding: 10px;
    background-color: lightblue;
    font-size: 20px;
    font-weight: bold;
}

.nav-list {
    display: flex;
    list-style-type: none;
}

.nav-item {
    margin-right: 20px;
}

.link {
    text-decoration: none;
    color: black;
}

.link:hover {
    border-bottom: 2px white dashed;
}

.cart {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    margin-top: 55px;
}

.item {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 15px;
    border-top: 2px dashed black;
    border-bottom: 2px dashed black;
    padding: 15px;
}

.item img {
    width: 100px;
    height: 100px;
    margin-right: 10px;
}

.item-controls {
    display: flex;
    align-items: center;
}

.quantity {
    margin: 0 10px;
}

.total {
    margin-top: 20px;
}

.total-price {
    font-weight: bold;
}

.checkout {
    margin-top: 20px;
}

.remove-btn {
    margin-left: 15px;
}

button {
    background-color: rgb(97, 207, 108);
    color: white;
    border: none;
    padding: 8px 16px;
    font-size: 14px;
    border-radius: 5px;
}

button:hover {
    background-color: rgb(43, 146, 53);
}